

.ticket_info
{
   border: 1px dashed #cccccc;
   margin-bottom: 1em;
}


.ticket-options-plugin__agents
{
   display: flex;
}

.ticket-options-plugin__agents .ticket-options-plugin__agent
{
   border: 1px solid #cccccc;
   border-left: 1em solid #ff8637;
   padding: 1em;
   margin-right: 0.3em;
}